<include file="Common:head"/>
<link rel="stylesheet" href="__CSS__/button.css">
<link rel="stylesheet" href="__CSS__/pagenation.css">
<link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <li class="glyphicon glyphicon-asterisk"></li>&nbsp;&nbsp;User Equipment information
                     </div>
                     <div class="panel-body">
                        <div class="table-response">
                           <table class="table table-bordered">
                                 <thead>
                                <tr>
                                    <td class="col-xs-1"><center><b>ID</b></center></td>
                                    <td class="col-xs-6"><center><b>Content</b></center></td>
                                    <td class="col-xs-1"> <center><b>Activation</b></center></td>
                                    <td class="col-xs-4"><center><h5><b>Operation</b></h5></center></td>
                                </tr>
                                </thead>
                                <foreach name="list" item="kk">
                                    <tbody>
                                    <tr>
                                       <td><center> <button class="button button-primary button-circle button-small">{$kk['id']}</button></center></td>
                                        <td>
                                            {$kk['content']}...
                                        </td>
                                        <td>
                                            <center>
                                                <div style="margin:0 auto;">
                                                    <if condition="$kk['active'] eq 1">
                                                        <button class="button  button-circle button-action button-jumbo  button-small">
                                                            Y
                                                        </button>
                                                        <else/>
                                                        <button class="button button-circle button-caution button-jumbo button-small">
                                                            N
                                                        </button>
                                                    </if>
                                                </div>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                              <p>
                                                <a href="{:U('Admin/Lab/reuinfo',array('id'=>$kk['id']))}" class="button  button-caution button-pill button-tiny"> 修改</a>
                                                <a href="{:U('Admin/Lab/deluinfo',array('id'=>$kk['id']))}" class="button  button-caution button-pill button-tiny"> 删除</a>
                                                <a href="{:U('Admin/Lab/uinfoactive',array('id'=>$kk['id']))}" class="button button-action button-pill button-tiny"> 发表</a>
                                                </p>
                                                <p>
                                                <a href="{:U('Admin/rank/ccl_uinfo',array('id'=>$kk['id']))}" class="button  button-caution button-pill button-tiny">取消</a> 
                                                </p>
                                            </center>
                                        </td>
                                       </tr>
                                    </tbody>
                                </foreach>
                            </table>
                            <div class="pagenation pagenation-small"><center>{$page}</center></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</body>
</html>