<include file="Common:head"/>
<style>
	html ,body{
		height: 100%;
	}
</style>
<script src="__ROOT__/Public/ueditor/ueditor.config.js"></script>
<script src="__ROOT__/Public/ueditor/ueditor.all.min.js"></script>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<center>Revise Lab Introduction</center>
					</div>
					<div class="panel-body">
						<form action="{:U('Admin/Lab/relabhandle',array('id'=>$db['id']))}" method="post" role="form" id="ff" onsubmit=" return check()" >
				         	<div class="form-group">
				         	<label> Introduction to  Laboratory:</label>
				            <textarea id="con" name="con" type="text/plain">{$db['content']}</textarea>
				         	</div>
				         	<div class="form-group">
				         		<center><input type="submit" class="btn btn-primary" value="Submit"  id="Add"></center>
				         	</div>
				        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
 <script type="text/javascript">
        var ue = UE.getEditor('con',{
        	allowDivTransToP: false,
        	autoHeightEnabled: false,
        	initialFrameWidth:910  ,//初始化编辑器宽度,默认1000
            initialFrameHeight:400 ,//初始化编辑器高度,默认320
        	toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink',  '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload','template', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|' , 'deleterow', '|',
            'print', 'preview', 'searchreplace',
        ]]
        });

function check(){
     var content = UE.getEditor('con').hasContents();
     	 if (content == '') {
		     info = ' Introduction to  Laboratory can not be empty';
		     alert(info);
		    return false;
         }else{
	        return true;
        }
}   
    </script>
</html>