
  .container{
    margin-top: 65px;
    padding-top: 20px;
  }
  .ico{
    margin-top: 2px;
    font-size: 20px;
}
.icot{
  font-size: 13px;
  margin-top: 12px;
  margin-left: 8px;
}
.list-group li{
  border-bottom:1px solid  darkgrey;
  list-style-type: none; 
}
 .labnews .col-xs-10 a{
      margin-bottom: 2px;
 }
.labnews {
  height: 50px;
  border-bottom:1px solid #f9f9f9;
}
  .labb{
      height: 45px;
      line-height: 15px;
      vertical-align: center;
      list-style-type: none;
      background: #f5f5f5;
    }
    .col-md-8 .item{
      height: 404px;
    }
  .col-md-6 .labpic {
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 -9px 0 rgba(255,255,255,.3);
      -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 -9px 0 rgba(255,255,255,.3);
      box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 -9px 0 rgba(255,255,255,.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 10px;
      width: 768px;
      height: 270px;
    }
.ll{
  float: left;
}
.footer{
    background: #777;
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom:5px; 
  }
  .footer a{
    color:white;
  }
  @media screen and (max-width: 768px){
      .col-md-5{
        padding-top: 1px;
      border-top: 1px solid #e9e9e9;       
    }
    .col-md-7{
      padding-bottom: 5px;
    }
  }
  @media screen and (max-width: 500px){
      .col-md-4 {
        font-size: 12px;
      }
      .col-md-8 .item{
        min-height: 230px;
        max-height: 230px;
      }
      .col-md-8 .carousel-inner{
        min-height: 230px;
        max-height: 230px;
      }
      .col-md-8 img{
        height: 230px;
      }
      .col-md-6 .labpic{
        min-width: 80%;
        height: 170px;
      }
    }
    @media screen and (max-width: 375px){
                .col-md-4 {
                font-size: 11px;
              }
             .col-md-6 .labpic{
                width: 100%;
                height: 140px;
              }
            .col-md-8 .carousel-inner{
                 min-height: 230px;
                 max-height: 230px;
              }
            .col-md-8 .item{
              min-height: 230px;
              max-height: 230px;
           }
              .col-md-8 img{
                min-height: 230px;
                max-height: 230px;
              }
    }
   

